.about-container{
 .search-bar{
  margin: 10px auto;
  width: 90%;
 }
  &__swiper{
    height: 120px;
  }
  &__main{
    padding:10px;
  }
  .title{
    font-size: 36px;
  }
  .subTitle{
    color:grey;
  }
}